html, body {
  background-color: #eee;
}
.content {
  background-color: #fff;
}
.sidebar {
  background-color: #fff;
}

h1, h2, h3 {
  line-height: 27px;
  margin-top: 20px;
}

#site-title h1 {
  line-height: 28px;
  margin: 12px 0 4px 0;
}
#site-title h1 a {
  font-weight: normal;
  font-size: 26px;
}
#site-title {
  border-bottom: 4px #ccc solid;
  margin-bottom: 14px;
}


ul.top-nav {
  margin: 24px 0 0 0;
  padding: 0;
  list-style-type: none;
}
ul.top-nav li {
  line-height: 28px;
  font-size: 17px;  
}
@media (max-width: 1000px) {
  ul.top-nav {
    margin-right: 10px;
  }
}
@media (max-width: 560px) {
  ul.top-nav {
    display: none;
  }
}
ul.top-nav li {
  float: left;
  margin-right: 8px;
}




body {
  max-width: 1000px;
  margin: 0 auto;
}
footer.page-footer {
  margin-top: 20px;
  border-top: 4px #ccc solid;
  padding-top: 10px;
  padding-bottom: 20px;
}
footer.page-footer p {
  text-align: center; /* center align it with the container */
  font-size: 10pt !important;
}
footer.page-footer .license, footer.page-footer .credit {
  font-size: 8pt !important;
  line-height: 10pt;
}
footer .signed-in {
  font-size: 12px;
}

footer .content {
  background: rgba(255,255,255,0.40);
  padding-bottom: 0;
}
footer .tags {
  margin-bottom: 10px;
}
footer .tag-list li {
  float: left;
}
footer .copyright {
  clear: both;
  padding-top: 12px;
  border-top: 4px rgba(204,204,204,0.5) solid;
}

abbr, abbr[title] {
  cursor: default;
  border-bottom: none;
}

table th {
  text-align: left;
}


[rel="popover"] {
  cursor: pointer;
  color: rgb(0, 136, 204);
}
[rel="popover"].highlight:hover {
  background-color: #b8dbf8;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1000px) {
  .container-fluid.home {
    padding-left: 10px;
    padding-right: 10px;
  }
  #site-title {
    padding-left: 10px;
  }
}

@media (max-width: 979px) {
  .container-fluid.home {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.content {
  margin-bottom: 10px;
}
.sidebar {
  padding: 10px;
}
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  .container-fluid.home {
    padding-left: 12px;
    padding-right: 12px;
  }
  .sidebar {
    padding-left: 20px;
    padding-right: 20px;
  }
}


@media (max-width: 767px) {
  .row-fluid [class*="span"] {
    margin-bottom: 10px;
  }
}


footer .container-fluid .row-fluid .span12 {
  padding-left: 12px;
  padding-right: 12px;
}



/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}


.note-context {
  border: #ddd 1px solid;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.external-note ul {
  list-style-type: none;
  margin: 0;
}
.external-note li .inner {
  margin-left: 54px;
}
.external-note li {
  font-size: 18px;
  line-height: 24px;
}
.external-note .minicard {
  margin-left: -54px;
  font-size: 16px;
}
.external-note .minicard .u-url {
  display: inline;
}

.external-note ul.multiple li {
  float: left;
  width: 48.717948717948715%;
}

.external-note .quote-text {
  white-space: pre-wrap;
}

.external-note.references li {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
}
.external-note.references li.nocontent {
  padding-left: 54px;
  font-size: 14px;
  line-height: 16px;
}
.external-note.references li.nocontent a {
  display: block;
}
.external-note.references .minicard {
  font-size: 14px;
}
.external-note.references .published {
  font-size: 11px;
}



.list-metrics .content {
  margin-bottom: 0;
}
.list-food .content, .list-drink .content {
  padding: 10px;
}
.list-food .content > .meta, .list-drink .content > .meta {
  float: right;
  text-align: right;
}
.list-food .meta ul li, .list-drink .meta ul li {
  margin-left: 20px;
  margin-right: 0;
}




.mentions .note-context {
  margin-bottom: 0;
}
.mentions .content {
  border-top: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.mentions .minicard .u-url {
  display: inline;
}
.mentions .external-note li {
  font-size: 16px;
}



.rsvp-yes, .rsvp-no, .rsvp-maybe {
  background: #f5f5f5 top right no-repeat;
}
.rsvp-yes {
  background-image: url(/images/rsvp-yes.png);
}
.rsvp-no {
  background-image: url(/images/rsvp-no.png);
}
.rsvp-maybe {
  background-image: url(/images/rsvp-maybe.png);
}

.like-of .content {
  background: #fff url(/images/corner-star.png) top right no-repeat;
}
.repost-of .content {
  background: #fff url(/images/corner-repost.png) top right no-repeat;
}


.content.bookmark .name {
  font-weight: bold;
}
.content.bookmark .host {
  color: #999;
}
.bookmark blockquote {
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-left: 4px solid #ccc;
  font-style: italic;
  font-weight: 300;
  margin: 0;
}
.content.bookmark .quoted-text {
  clear: both;
  white-space: normal;
}
.content.bookmark .quoted-text p, .content.bookmark .quoted-text blockquote {
  white-space: pre-wrap;
}

.note-footer {
  border: #ddd 1px solid;
  padding: 20px;
  background-color: #f5f5f5;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.content.has-context {
  margin-top: -1px;  
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-top-radius-bottomleft: 0;
  -moz-top-radius-bottomright: 0;
  top-bottom-left-radius: 0;
  top-bottom-right-radius: 0;
}
.content.has-footer {
  margin-bottom: -1px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


.meta {
  text-decoration: none;  
  color: #999;
  font-size: 12px;
}
.meta ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.meta ul li {
  float: left;
  margin-right: 20px;
}
.meta .clear {
  clear: left;
}

ul .date {
  text-transform: none;
  /* cursor: auto; */
  border-bottom: none;
}
a .date, .meta a {
  color: #999;
  font-size: 12px;
  text-decoration: none;
}
a:hover .date, .meta a:hover {
  color: #777;
  text-decoration: underline !important;
  font-size: 12px;
  text-decoration: none;
}
.geo {
  text-transform: none;
  cursor: auto;
  border-bottom: none;
}

/**
 * Blog Entries
 * Design inspiration from http://benward.me/blog/unfinished-again
 */

/**
 * Home page
 */

.home-column {
  border: 1px #ddd solid;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background: white; 
  padding: 8px;
}

blockquote {
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: whiteSmoke;
  padding: 9.5px;
  display: relative;
}
blockquote:after {
  background: url(/images/quote-mark.png) no-repeat -10px -18px;
  content: '';
  width: 30px;
  height: 30px;
}

aside {
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: whiteSmoke;
  padding: 9.5px;
  width: 40%;
  margin-left: 6px;
  float: right;
}

.pull::before {
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: whiteSmoke;
  padding: 9.5px;
  width: 40%;
  margin-left: 6px;
  float: right;
  font-size: 1.1em;
  font-style: italic;
  content: attr(data-before) attr(data-quote) attr(data-after);
}

@media (max-width: 560px) {
  .pull::before {
    display: none;
  }
}

/*
.notes.summary {
  margin-top: 18px;
}
*/

ul.notes, ul.articles, ul.presentations {
  list-style-type: none;
  margin: 0;
}

ul.notes > li {
  line-height: 20px;
  margin-bottom: 5px;
}
ul.articles > li, ul.presentations > li {
  line-height: 20px;
  margin-bottom: 10px;
}

ul.notes > li, ul.replies > li {
  width: 100%;
  overflow-x: hidden;
}

ul.notes > li.half {
  width: 49%;
  float: left;
}
ul.notes > li.half.even {
  margin-right: 10px;
}
ul.notes > li.half .content {
  padding: 10px;
}


ul.articles .hentry a.continue-reading {
  text-align: right;
  display: block;
}

ul.articles .article-title, ul.presentations .article-title {
  font-size: 20px;
  min-height: 4em;
}

/* indent all content and let the icon hang off the left in all list views */
ul li .content .inner {
  margin-left: 54px;
}

ul li .content .entry-name {
  font-size: 22px;
}
ul li .content .details {
  color: #777;  
}



.entry-content.presentation .meta, 
.entry-content.presentation .meta abbr,
.entry-content.presentation .meta a {
  color: #777;
  font-size: 14px;
  line-height: 19px;
}


.home .summary .entry-title {
  border-top: 1px #ccc solid;
}
.home .articles.summary > li {
  padding-bottom: 12px;
}
.home .summary h3 {
  line-height: 28px;
}
.home .summary .entry-content {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.home .summary .hentry .author {
  display: none;
}
ul.summary .more-content {
  border-top: 1px #ccc solid;
}
ul.summary .more-content a {
  font-size: 14px;
  font-weight: bold;
}
.home .summary .meta {
  padding-top: 6px;
}
.home .summary .meta li {
  line-height: 17px;
}

ul.external-profiles {
  list-style-type: none;
  margin-left: 10px;
}

.articles .feature-image {
  margin-top: 2px;
}

/* 
 * Center all regular images in the post. This should only target images wrapped 
 * with a <p> or <p><a><img...
 */
.entry-content p > img, .entry-content p > a > img {
  display: block;
  margin: 0 auto;
}
.entry-content a.microcard > img {
  display: inline;
  margin-top: -0.4em;
  margin-bottom: -0.2em;
}
/*
 * Photos in notes get rounded corners
 */
.content p > img, .content a > img, .content span > img, .note-text > img, .embedded-media > img {
  -webkit-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border-radius: 6px;
}


/** 
 * Smaller headers on article summaries
 */
.home .summary h1 {
  font-size: 20px;
  line-height: 25px;
}
.home .summary h2 {
  font-size: 16px;
  line-height: 22px;
}



.content p, .content {
  font-size: 16px;
  line-height: 24px;
}
li {
  line-height: 24px;
}

.content h1, .content h2 {
  border-bottom: 1px #ddd solid;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
}
.content h1 {
  font-size: 30px;
  line-height: 36px;
}
h2 {
  line-height: 30px;
}

.content, .sidebar {
  border: 1px #ddd solid;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-radius: 6px;
}
@media (max-width: 767px) {
  .sidebar {
    border-top: 1px #ddd solid;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
}

.rounded-top {
  -webkit-border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.rounded-bottom {
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.content > div p, .sidebar div p {
  margin-bottom: 16px;
}
.thin .thin-header > div {
  padding: 0 0 24px 0;
}

.sidebar .pagination {
  text-align: center;
}

.sidebar p, .sidebar em, .sidebar strong {
  font-size: 0.9em;
}

.content .fb-like {
  padding: 5px;
}

.sidebar .permalink-label {
  font-weight: bold;
}

.sidebar .web-actions {
  margin-top: 10px;
}
.sidebar .tag-list {
  margin-bottom: 15px;
}
.sidebar .permalink, .sidebar .shortlink {
  width: 95%;
}


.sidebar .minicard, .home-column .minicard {
  margin: 15px 0;
}


#mainnav {
  margin-bottom: 15px;
  padding-bottom: 12px;
  border-bottom: 1px #ddd solid;
  font-size: 18px;
}
.home-column #mainnav {
  border-bottom: none;
  margin-bottom: 0;
}
#mainnav-1, #mainnav-2 {
  list-style-type: none;
  margin: 0;
  font-weight: bold;
}
#mainnav-1 {
  float: left;
  width: 40%;
}


.post-client-id {
  font-size: 12px;
  color: #aaa;
  word-wrap: break-word;
}
.post-client-id a {
  color: #aaa;
  border-bottom: 1px #aaa dotted;
}
.post-client-id a:hover {
  text-decoration: none;
  border-bottom: 1px #aaa solid;
}

.small-headers h3, .share-and-respond h3 {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  margin-top: 18px;
  text-transform: uppercase;
  color: #ccc;
}
.small-headers h3.underline, .share-and-respond h3 {
  border-bottom: 1px #ddd solid;
}


/** Drafts **/

.draft-banner {
  margin: 10px 0; 
  padding: 0 3px; 
  background-color: #c7e8f3; 
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px;
}
.draft-message {
  font-size: 14px; 
  font-weight: bold; 
  text-align: center;
}
.draft-message:before, .draft-message:after {
  content: "Draft Draft Draft Draft Draft Draft Draft Draft Draft Draft Draft Draft Draft Draft Draft Draft";
  text-transform: uppercase; 
  height: 17px; 
  text-align: center; 
  overflow: hidden; 
  font-size: 12px; 
  font-weight: bold; 
  color: #acd8e7;
  display: block;
}
.draft-message:after {
  margin-top: -6px;
  padding-bottom: 6px;
}


/** Sidebar Stats **/
.sidebar-stats {
  margin-top: 18px;
}
.sidebar-stats h3 {
  margin-bottom: 2px;
  font-size: 15px;
}
.sidebar-stats h4 {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ccc;
  border-bottom: 1px #ddd solid;
}
.sidebar-stats {
  font-size: 12px;
}
.sidebar-stats li {
  line-height: normal;
}
/**               **/


/**
 * Site Navigation Buttons
 */
.site-navigation {
  padding-bottom: 10px;
  font-size: 13px;
  text-align: center;
}
.site-navigation ul {
  list-style-type: none;
  margin: 0;
}
.site-navigation .prev {
  float: left;
}
.site-navigation .next {
  float: right;
}
.site-navigation::after {
  clear: both;
  display: table;
  content: "";
}
.site-navigation .disabled {
  color: #ccc;
}

.site-navigation a.up {
  height: 1.5em;
  font-size: 10px;
}
.site-navigation a.up abbr {
  padding-top: 1em;
  display: block;
  font-size: 14px;
}

/* Paging Buttons */
/* Thanks tantek.com for the design inspiration */
a.prev, a.next {
  font-size: 10px;
  width: 7.4em;
  height: 1.5em;
  padding: 0.8em 0 3em 0.1em;
  margin-right: .3em;
  text-align: center;
  background: #d9d9d9;
  border-radius: 1em;
  border: .1em solid #CCC;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  line-height: 3em;
}
a.prev:hover, a.next:hover, 
a.prev.hover, a.next.hover {
  text-decoration: none;
  background: #c9c9c9;
  border-color: #AAA;
}
a.prev.disabled, a.next.disabled, 
a.prev.disabled.hover, a.next.disabled.hover,
a.prev.disabled:hover, a.next.disabled:hover {
  text-decoration: none;
  background: #f0f0f0;
  border-color: #d9d9d9;
  cursor: default;
}
a.prev.disabled abbr, a.next.disabled abbr, a.prev.disabled span, a.next.disabled span {
  cursor: default;
}
a.prev abbr, a.next abbr {
  border-bottom: 0;
  cursor: pointer;
  font-size: 4em;
  vertical-align: bottom;
}

.in-footer a.prev, .in-footer a.next {
  width: 11.4em;
  height: 3em;
  padding-top: 0.2em;
}
.in-footer a.prev abbr, .in-footer a.next abbr {
  display: block;
}
a.prev span, a.next span {
  font-size: 1.8em;
  line-height: 1.2em;
}





/**
 * Translations
 */
.translations {
  background: #fff1b0;
  margin: 10px -20px;
}
.translations .inside {
  margin: 0px 32px;
  padding: 14px 0 1px 0;
}
.translations ul {
  list-style-type: none;
  margin-left: 0;
}
.translations ul li {
  padding-left: 20px;
  background-position: 1px 4px;
  background-repeat: no-repeat;
}
.translations .lang-fr {
  background-image: url(/images/flags/16/FR.png);
}
.translations .lang-hr {
  background-image: url(/images/flags/16/HR.png);
}



/**
 * Short text updates
 */
ul.note-list {
  list-style-type: none;
  margin-left: 0;  
}
.content .note-text {
  margin-top: 1em;
  white-space: pre-wrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Large note text on individual posts */
.note .content .note-text, .note .content.reply .note-text {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: .5em;
}
/* Small text in list views */
.note ul.notes .content .note-text, .note ul.notes .content.reply .note-text {
  font-size: 18px;
  line-height: 22px;
}
.note .content .note-text code, .note .content.reply .note-text code {
  font-size: 18px;
}
/* Hide the "http://" protocol from text links in notes */
.note-text a .protocol {
  display: none;
}

.page-photo .note-text img {
  margin-bottom: 8px;
}

.content .event-container {
  font-size: 22px;
  line-height: 28px;
  width: 100%;
}

.content .event-container .details {
  font-size: 18px;
  line-height: 24px;
  color: #777;
}

.content .event-container .small {
  margin-top: 10px;
  font-size: 14px;
  white-space: pre-wrap;
  line-height: 16px;
}

.content .flight-container {
  font-size: 22px;
  line-height: 28px;
  width: 100%;
}

.content .flight-container .details {
  font-size: 18px;
  line-height: 24px;
  color: #777;
}

.content .flight-leg {
  margin-top: 0.5em;
}
.content .flight-leg.last {
  margin-bottom: 0.5em;
}

.content .flight-leg.cancelled {
  text-decoration: line-through;
}

/** Separate the author info from the post content **/
.content .space {
  clear: both;
  padding-top: 10px;
}

/** Calendar icon (is normally the author minicard photo) **/
.notes .fa.fa-calendar.large, .notes .fa.fa-plane.large {
  margin-right: 7px;
  font-size: 48px;
}

/*
.content .note-text p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .note-text p {
  font-size: 22px;
  line-height: 26px;
}
.thin .content .note-list p {
  margin-bottom: 0;
}
*/
.note-list .date {
  font-size: 12px;
}
.content .published {
  font-size: 12px;
}

.in-reply-to-container {
  margin: 20px 0 -10px 0;
}
.in-reply-to-container > div {
  padding-left: 8px;
  border-left: 2px #ccc solid;
}

.content .quote-text {
  white-space: pre-wrap;  
}

.content .embedded {
  margin-top: 20px;
  font-size: 12px;
  line-height: 15px;
}
.content .embedded .embedded-media {
  margin-top: 20px;
}

.note-location {
  font-size: 13px;
  color: #999;
  margin-top: 4px;
  margin-bottom: -4px; /* bring the date line closer to the location */
}


/* Video Overlay */
.video-overlay {
  position: relative;
}
.video-overlay .overlay-image {
  background-color: rgba(0,0,0,0.1);
  background-image: url(/images/play-overlay.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.video-overlay .overlay-image:hover {
  background-color: rgba(0,0,0,0.2);
}


.trip-box {
  border: 1px #ddd solid;
}
.trip-stats .stat {
  display: block;
  padding: 6px 18px;
  float: left;
  font-size: 18pt;
  font-weight: 300;
  line-height: 20pt;
}
.trip-stats .caption {
  display: block;
  font-size: 11pt;
  color: #777;
}




/**
 * Minicard
 */
.content div.minicard .name, .content div.minicard .u-url {
  line-height: 14px;
}
.minicard .photo {
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 7px;
}
.minicard .name {
  color: #999;
}
.minicard .grey {
  color: #999;
  font-weight: bold;
}
.minicard a.u-url {
  display: block;
  padding-top: 4px;
  font-weight: bold;
}
.minicard + .note-text {
  clear: both;
}
.minicard .google-profile {
  display: none;
}

.minicard .fa {
  font-size: 16px;
  position: absolute;
  bottom: 1px;
  right: 1px;
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
}

.minicard .photo {
  height: 48px;
}

.minicard .vouch {
  color: #999;
  font-size: 0.9em;
}
.minicard .vouch a {
  color: #74a6d7;
}


/** 
 * Microcard
 */
.microcard {
  color: #08C;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0px 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  display: inline-block;
  -ms-box-shadow: 0 0 1px rgba(0,0,0,0.7),
                  inset 0 0 15px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 1px rgba(0,0,0,0.7),
                 inset 0 0 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.7),
                  inset 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.7),
                     inset 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px rgba(0,0,0,0.7),
              inset 0 0 15px rgba(0, 0, 0, 0.1);
}
.microcard img {
  width: 1.2em;
  height: 1.2em;
  margin-top: -0.4em;
  margin-bottom: -0.2em;
}
.microcard:hover {
  color: #005580;
  text-decoration: none;
  background-color: #e8e8eb; 
  border: 1px solid #d2d2d9;
}



/**
 * Nanocard
 * square profile photo
 */
.nanocard img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;  
}
.nanocard {
  position: relative;
}
.nanocard .fa {
  font-size: 16px;
  position: absolute;
  bottom: 1px;
  right: 1px;
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
}


.twitter .fa {
  color: #00abf1;
}
.facebook .fa {
  color: #4760a5;
}
.instagram .fa {
  color: #956547;
}
.flickr .fa {
  color: #ccc;
}



pre {
  overflow: auto;
  width: auto;
  white-space: pre;
  word-wrap: normal;
}
pre code {
  width: auto;
  display: block;
  white-space: pre;
}



/**
 * tag list
 */
.tag-list {
  list-style-type: none;
  margin: 0;
}
.tag-list li {
  display: inline;
}
.tag-list a {
  color: #606060;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 4px;
  margin-right: 4px;
  font-size: 12px;
  -ms-box-shadow: 0 0 1px rgba(0,0,0,0.7),
                  inset 0 0 15px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 1px rgba(0,0,0,0.7),
                 inset 0 0 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.7),
                  inset 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.7),
                     inset 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px rgba(0,0,0,0.7),
              inset 0 0 15px rgba(0, 0, 0, 0.1);
}
.tag-list a:hover {
  color: #232323;
  text-decoration: none;
  background-color: #e8e8eb; 
  border: 1px solid #d2d2d9;
}
.tag-list a span {
  vertical-align: super;
  font-size: 80%;
}


/* tag_box ======================================================== */

.tag_box {
  list-style:none;
  margin:0;
  padding:5px 0 ;
  overflow:hidden;
}
.tag_box li {
  line-height:28px;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color:#005F6B;
  border-radius: 3px;
  text-decoration:none;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}
  

/* admin -------------------------------------- */
.admin .help-block {
  color: #999;
  font-size: 0.9em;
}
.admin .narrow .control-label {
  width: 110px;
}
.admin .narrow .controls {
  margin-left: 120px;
}

.admin .dashboard {
  background: white;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
.admin .dashboard > div {
  padding: 24px 32px;
}
.admin .dashboard h1, .admin .dashboard h2 {
  border-bottom: 1px #ddd solid;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
}

.admin .editField.error {
  border: 3px #e96969 solid;
}

.inline-note-form {
  margin: 0;
}
@media (max-width: 767px) {
  .inline-note-form .btn-post {
    margin-right: 10px;
  }
}
@media (min-width: 767px) {
  .inline-note-form .btn-full {
    margin-bottom: 10px;
  }
}
.full-btn {
  height: 5em;
}


/* private messages */

.recipient-list {
  background-color: #fdffc8;
  padding: 10px 20px;
  margin-bottom: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px 6px;
          border-radius: 6px 6px;
}

.recipient-list .notice {
  text-align: center;
  font-weight: bold;
  font-size: 9pt;
}



.dotmore a {
  color: #606060;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 4px;
  margin-right: 4px;
  font-size: 12px;
  -ms-box-shadow: 0 0 1px rgba(0,0,0,0.7),
                  inset 0 0 15px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 1px rgba(0,0,0,0.7),
                 inset 0 0 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.7),
                  inset 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.7),
                     inset 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px rgba(0,0,0,0.7),
              inset 0 0 15px rgba(0, 0, 0, 0.1);
}
.dotmore a:hover {
  color: #232323;
  text-decoration: none;
  background-color: #e8e8eb; 
  border: 1px solid #d2d2d9;
}
.dotmore a span {
  vertical-align: sub;
  font-size: 150%;
}



.thin-header-map img {
  border: 1px #ccc solid;
  margin-bottom: 20px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}



.content.month {
  padding: 2px;
}
.content table.month-table {
  margin-bottom: 0;  
}
.month-table th {
  text-align: center;
  font-size: 13px;
  width: 14%;
}
.month-table td {
  position: relative;
  height: 90px;
}
.month-table td.prev-month, .month-table td.next-month {
  background-color: #eee;
}
.month-table td .day {
  float: left;
  font-weight: bold;
  color: #666;
  font-size: 26pt;
  margin-right: 4px;
}
.month-table td .day a:hover {
  text-decoration: none;
}
.month-table td img {
  max-height: 20px;
  max-width: 20px;
}
.month-table td .tag {
  font-size: 10pt;
  line-height: 14pt;
}
.month-table .location { 
  font-size: 13px;
  line-height: 17px;
  color: rgb(153,153,153);
}
.month-table .locations { 
  bottom: 2px;
  position: absolute;
}

